<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
    <header th:replace="layout :: header"></header>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Begin Page Content -->
        <div class="container">
            <div class="container-fluid">
                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Page Not Found</p>
                    <p class="text-gray-500 mb-0">Parece que algo salio mal...</p>
                    <a th:href="@{/}"> <i class="fas sm fa-laugh-wink"></i> Regresar</a>
                </div>
            </div>
            <footer th:replace="layout :: footer"></footer>
        </div>
    </div>
</div>

</div>
</body>
</html>