<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: header"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<br/>
				<div class="content row">
					<div class="col-md-6">
						<div class="jumbotron">
							<h1 class="display-4" th:text="${title}"></h1>
							<p class="lead" th:text="${framework}"></p>
							<hr class="my-4">
							<p th:text="${description}"></p>
						</div>
					</div>
					<div class="col-md-6">
						<img class="card-img-top" th:src="@{/images/spring-boot.png}" />
					</div>
				</div>
			</div>
			<footer th:replace="layout :: footer"></footer>
		</div>
	</div>
</div>

</div>
</body>
</html>